header {
  display: block;
  background-color: antiquewhite;
  padding: 0px 64px;
  width: 100%;
}
header h1 {
  width: 30%;
  height: 128px;
  font-family: "Playfair Display", serif;
  display: inline;
  font-size: x-large;
}

body {
  margin: 0px;
}
